// import global rules 
@use "./sass/layouts/global_rules";
// import var 
@use "./sass/variables/colors" as *;

// start header 
header {
    .container {
        height: 72px;
        padding: 0 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;
        position: relative;
        @media (max-width: 1092px) {
            flex-direction: column;
            justify-content: space-around;
            height: 120px;
        }
        .logo {
            font-size: 32px;
            font-weight: 600;
            color: $main_black;
            span {
                color: $sec_blue;
            }
            i {
                transform: rotate(180deg);
            }
        }
        .navbar {
            display: flex;
            font-size: 18px;
            font-weight: 500;
            gap: 10px;
            @media (max-width: 500px) {
                font-size: 16px;
            }
            li {
                padding: 5px 15px;
                border: solid 1px transparent;
                border-radius: 8px;
                &:hover {
                    border-color: $main_blue;
                    background-color: $main_blue;
                    color: $main_black;
                }
                a {
                    color: $main_black;
                }
                &:hover a{
                    color: $main_black;
                }
            }
        }
        .minbar {
            display: none;
            i {
                cursor: pointer;
                font-size: 24px;
            }
            ul {
                @extend .navbar;
                
                position: absolute;
                flex-direction: column;
                width: 80%;
                right: 10%;
                bottom: -150px;
                background-color: white;
                li {
                    border: 2px solid $sec_black;
                    border-radius: 8px;
                    position: relative;
                    width: 100%;
                    text-align: center;
                    padding-right: 20px;
                }
            }
        }
        @media (max-width: 460px) {
            .logo {
                font-size: 28px;
            }
            .navbar {
                display: none;
            }
            .minbar {
                display: flex;
                .active {
                    display: flex;   
                }
            }
        }
    }
}
// scroll back to top 
.upscroll {
    position: fixed;
    right: -100px;
    bottom: 15%;
    cursor: pointer;
    transition: 0.3s;
    i {
        font-size: 50px;
    }
}
.show {
    right: 10%;
}
// start landing 
.landing {
    height: calc(100vh - 72px);
    @media (max-width: 1092px) {
        height: calc(100vh - 120px);
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        height: 100%;
        padding: 10% 20%;
        .brand {
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                font-size: 300px;
                font-weight: 300;
                color: $main_blue;
                z-index: -1;
                animation-name: rotation;
                animation-duration: 20s;
                animation-timing-function:ease-in-out;
                animation-iteration-count:infinite;
            }
            @keyframes rotation {
                0% {
                    transform: rotate(0deg);
                }
                10% {
                    transform: rotate(0deg);
                }
                20% {
                    transform: rotate(0deg);
                }
                30% {
                    transform: rotate(180deg);
                }
                75% {
                    transform: rotate(180deg);
                }
                85% {
                    transform: rotate(360deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
        .intro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            a {
                color: $main_black;
            }
            h4 {
                text-align: center;
                text-transform: capitalize;
                font-weight: 300;
            }
            h3 {
                text-align: center;
                text-transform: capitalize;
                font-size: 50px;
            }
            h3:first-of-type {
                color: $main_blue;
            }
            h3:last-of-type {
                color: $sec_black;
            }
            .links {
                display: flex;
                justify-content: center;
                gap: 20px;
                a {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: capitalize;
                    border: solid 1px;
                    padding: 10px 15px;
                    border-radius: 8px;
                    color: $main_black;
                    &:hover {
                        background-color: $main_blue;
                        border-color: $main_blue;
                        font-weight: 500;
                    }
                }
            }
            .social {
                display: flex;
                justify-content: center;
                gap: 20px;
                font-size: 40px;
            }
        }
        @media (max-width: 1260px) {
            grid-template-columns: 1fr;
            justify-content: center;
            grid-template-rows: 250px 250px;
            .brand {
                justify-content: center;
                div {
                    font-size: 250px;
                    transform: translateY(10%);
                }
            }
        }
        @media (max-width: 577px) {
            .brand {
                div {
                    font-size: 200px;
                }
            }
            .intro {
                h3:first-of-type {
                    font-size: 42px;
                }
                h3:last-of-type {
                    font-size: 35px;
                }
                .links {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
        @media (max-width: 410px) {
            .intro {
                h3:last-of-type {
                    font-size: 30px;
                }
                .links {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

// start about me 
.about {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 50px;
        .me {
            border: 1px solid $sec_black;
            border-radius: 20px;
            padding: 30px;
            > .title {
                color: $main_black;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-bottom: 2px solid $sec_black;
                padding-bottom: 25px;
                i {
                    font-size: 25px;
                }
                h4 {
                    text-transform: capitalize;
                    font-size: 25px;
                }
            }
        }
        .education {
            .description {
                .certif {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 20px 0;
                    border-bottom: 2px solid $sec_black;
                    &:last-of-type {
                        border: none;
                    }
                    .title {
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;
                        align-items: center;
                        text-transform: capitalize;
                        h5 {
                            font-size: 22px;
                        }
                        span {
                            font-weight: 700;
                            font-size: 12px;
                            letter-spacing: 0;
                        }
                    }
                    .univ {
                        font-size: 20px;
                        margin-bottom: 5px;
                    }
                    ul {
                        li {
                            text-transform: capitalize;
                            position: relative;
                            margin-left: 20px;
                            margin-bottom: 5px;
                            &::before {
                                content: "\2022";
                                position: absolute;
                                font-size: 20px;
                                left: -10px;
                                bottom: 50%;
                                transform: translateY(50%);
                            }
                        }
                    }
                }
            }
        }
        .summary {
            .description {
                padding: 10px;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.7;
            }
        }
        @media (max-width: 1300px) {
            grid-template-columns: 1fr;
            justify-content: center;
        }
        @media (max-width: 500px) {
            .summary {
                .description {
                    font-size: 14px;
                    // padding: 5px;
                }
            }
        }
    }
}

// start experience 
.experiences {
    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 50px;
        >div {
            border: 1px solid $sec_black;
            border-radius: 20px;
            padding: 30px 20px;
            > h4 {
                text-align: center;
                font-size: 32px;
                text-transform: capitalize;
                padding: 0 0 30px;
            }
        }
        .technical {
            .skills {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                text-transform: uppercase;
                letter-spacing: 0;
                color: $main_black;
                gap: 10px;
                .list {
                    display: flex;
                    flex-direction: column;
                    // gap: 100px;
                    li {
                        display: flex;
                        // border: solid;
                        height: 100px;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        img {
                            width: 35px;
                        }
                        .skill {
                            h5 {
                                font-size: 16px;
                            }
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
                @media (max-width: 700px) {
                    grid-template-columns: repeat(2, 1fr);
                }
                @media (max-width: 350px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
        .certifs {
            > div {
                display: flex;
                flex-direction: column;
                gap: 50px;
                justify-content: space-around;
                div {
                    text-align: center;
                    text-transform: capitalize;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    i {
                        font-size: 70px;
                        color: rebeccapurple;
                    }
                    a {
                        color: $main_black;
                        font-size: 15px;
                        padding: 8px 15px;
                        border: 1px solid $main_black;
                        border-radius: 8px;
                        &:hover {
                            background-color: $main_blue;
                            border-color: $main_blue;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
            justify-content: center;
        }
    }
}

// start projects 
.projects {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 350px);
        gap: 50px;
        justify-content: space-around;
        align-items: center;
        .proj {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 12px 3px #ddd;
            cursor: pointer;
            position: relative;
            transition: 0.3s;
            &::before {
                position: absolute;
                content: "";
                width: 0;
                height: 5px;
                background-color: $main_blue;
                left: 50%;
                top: -4px;
                transition: 0.3s;
            }
            &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 5px;
                background-color: $main_blue;
                right: 50%;
                top: -4px;
                transition: 0.3s;
            }
            &:hover {
                transform: translateY(-10px);
                &::before,
                &::after {
                    width: 50%;
                }
            }
            .image {
                border-bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $sec_black;
                img {
                    width: 70%;
                }
            }
            .desc {
                padding-bottom: 15px;
                h3 {
                    text-align: center;
                    font-size: 30px;
                    text-transform: uppercase;
                    color: $main_blue;
                    padding: 20px 0;
                }
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    width: 100%;
                a {
                    background-color: $sec_black;
                    color: $back_white;
                    text-transform: capitalize;
                    font-weight: 500;
                    padding: 10px 15px;
                    border-radius: 8px;
                    &:hover {
                        color: $sec_black;
                        background-color: $main_blue;
                    }
                }
                }
            }
        }
        @media (max-width: 900px) {
            grid-template-columns: repeat(1, 350px);
        }
        @media (max-width: 450px) {
            grid-template-columns: repeat(1, 270px);
        }
        @media (max-width: 300px) {
            grid-template-columns: repeat(1, 250px);
        }
    }
}
// start contact 
.contact {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-bottom: 10%;
        > div {
            display: flex;
            align-items: center;
            i {
                color: $main_black;
                font-size: 50px;
            }
            a {
                color: $main_black;
                font-size: 32px;
                text-transform: uppercase;
            }
            @media (max-width: 550px) {
                i {
                    font-size: 40px;
                }
                a {
                    font-size: 24px;
                }
            }
            @media (max-width: 450px) {
                a {
                    font-size: 18px;
                }
            }
        }
        .mail {
            gap: 20px;
            padding: 20px 30px;
            box-shadow: 0 0 12px 3px #ddd;
            border-radius: 20px;
            @media (max-width: 380px) {
                flex-direction: column;
                a {
                    font-size: 15px;
                }
            }
        }
        .social {
            gap: 40px;
        }
    }
}

// start footer 
footer {
    height: 70px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    color: $back_white;
    background-image: linear-gradient(148deg,$main_black,$main_black, $sec_blue);
    background-color: $main_black;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: $sec_blue;
    }
    i {
        transform: rotate(180deg);
    }
}