* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding: 0 10%;
}
.sec_name {
    text-align: center;
    text-transform: capitalize;
    padding: 100px 0;
    h2 {
        font-size: 45px;
    }
}